/* client/src/index.css */

/* Use a more intuitive box-sizing model. */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif; /* Match MUI's default */
}

/* Make sure the root element takes up all space */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}